h1{
	font-family:volume;
	font-weight:bold;
	font-size:180%;
	
}

div{
	border: 1px solid powderblue;
	padding: 30px;
	background-color:#a2f0aa;
	margin-botton:80px;
}

img{
	width:600px;
	
}

table{
	margin:20px;
	border-width:7px;
	border-bottom:17px; 
}
th{
	background-color:blue;
}
td{
	background-color:#a2f0aa;
	border: 2px solid aqua; 

}
li{
	list-style:none;
}
table li{
	list-style:scroll;
}